@import "tailwindcss";

body {
  background: #121212;
}

#MyWorksDisplay::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

#MyWorksDisplay::-webkit-scrollbar-track {
  background: #1a1a1a;
  border-radius: 10px;
}

#MyWorksDisplay::-webkit-scrollbar-thumb {
  background: #ff7f50;
  border-radius: 10px;
}

#MyWorksDisplay::-webkit-scrollbar-thumb:hover {
  background: #ff9966; /* Lighter shade on hover */
}

@media (width >= 48rem /* 768px */) {
  html {
    scroll-snap-type: y proximity;
  }

  section {
    scroll-snap-align: start;
  }
}
